<mat-toolbar color="primary" style="height: 150px;">
     <!-- class="footerToBottom" id="bottom-menu"> -->

    <div class="menu-content">
        <!-- <span id="logo">
            <a href="/"><img src="/assets/images/impc.png" alt="IMPC Logo"/></a>
           
        </span> -->
        <a  routerLink="home" routerLinkActive="active" ><button  mat-button routerLinkActive="mat-accent" >HOME</button></a>
        <a  routerLink="data" routerLinkActive="active" ><button mat-button>DATA</button></a>
        <a  routerLink="analysis" routerLinkActive="active"><button mat-button>ANALYSIS</button></a>
        <a  routerLink="methods" routerLinkActive="active"><button mat-button>METHODS</button></a>
        <a  routerLink="contact" routerLinkActive="active" ><button mat-button>CONTACT</button></a>
        <a  routerLink="learn_more" routerLinkActive="active" ><button mat-button >LEARN MORE</button></a>
        


        <!-- <a  href="/">HOME  </a>
        <a href="/data">DATA  </a>
        <a href="/analysis">ANALYSIS  </a>
        <a href="/methods">METHODS  </a>
        <a href="/contact">CONTACT  </a>
        <a href="/learn_more">LEARNMORE  </a> -->
          
<!--        
    <p class="textright" style="text-align: right;word-spacing: normal; font-size:12px">Software <br/></p> -->


    </div>
    
        
    
</mat-toolbar>

