<div class="container">
    <h1>Images Query Form</h1>
    <form (ngSubmit)="query();" #loginForm="ngForm">
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">Number of Images</h2>
      
          <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" name="rows" placeholder="Number of Images" [(ngModel)]="rows">
            </mat-form-field>
            <mat-form-field class="example-margin">
              <input matInput type="number" name="minValue" placeholder="Min value" [(ngModel)]="min">
            </mat-form-field>
            <mat-form-field class="example-margin">
              <input matInput type="number" name="maxValue" placeholder="Max value" [(ngModel)]="max">
            </mat-form-field>
          </section>
        </mat-card-content>
        <mat-card-content>
            <h3 class="example-h2">Number Of Results</h3>
        
            <mat-slider name="rowsSlider" 
                class="example-margin"
                [max]="max"
                [min]="min"
                [step]="step"
                [thumb-label]="thumbLabel"
                [tick-interval]="tickInterval"
                [(ngModel)]="rows">
            </mat-slider>
          </mat-card-content>
      </mat-card>
        <mat-card class="result">
          <mat-card-content>
      <mat-form-field>
          <mat-select placeholder="Procedure Name" name="procedureName" [(ngModel)]="selectedProcedureName">
            <!-- <mat-option>None</mat-option> -->
            <mat-option *ngFor="let procedure of procedureNamesForDropdown" [value]="procedure">
              {{ procedure }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>You selected {{selectedProcedureName}}</p>
          <mat-form-field>
              <mat-select [disabled]="disableSelect.value" name="parameterName" placeholder="Parameter Name" [(ngModel)]="selectedParameterName">
                  <!-- <mat-option>None</mat-option> -->
                <mat-option *ngFor="let parameter of parameterNamesForDropdown" [value]="parameter">
                  {{ parameter }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p>You selected {{selectedParameterName}}</p>
          </mat-card-content>

      </mat-card>
      

      <mat-card>
          <mat-card-content>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">
        Query
       
      </button>
      <app-showthumbnails></app-showthumbnails>
      </mat-card-content>
      </mat-card>
    </form>

    <!-- <div *ngFor="let image of images" > in filter: {{image.marker_name}} <img src='{{image.thumbnail_url}}'/> </div> -->
    <!-- <p>image here: {{images | json}}</p> -->
    <!-- <p>response should be here: {{response | json}}</p> -->
    <!-- <h2>{{model | json}}</h2>
    <ul><li *ngFor="let image of model.images" [value]="image">{{image.path}}</li></ul> -->
  </div>