<div class="main-content">
    <impc-head-bar></impc-head-bar>
    <impc-status-filter (changeSelection)="changeStatus($event)" [pending]="pendingNumber" [reviewed]="reviewedNumber" [falsePositive]="falsePositiveNumber"></impc-status-filter>
    <impc-facets [facets]="facets" (changeSelection)="changeFilter($event)"></impc-facets>
    <impc-publication-list [status]="currentStatus" [filters]="currentFilters" [isLoggedIn]="auth.isLoggedIn()"></impc-publication-list>
    <impc-footer></impc-footer>
</div>
