@media (min-width:1200px) {
    .main-content {
        width: 1200px;
        margin: auto;
    }
}

.main-content {
    display: table;    
}

.filter {
    text-align: center;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.publication-list {
    margin-top: 10px;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.example-container {
    width: 100%;
    height: 100%;
}

mat-drawer-container {
    background-color: inherit;
}

mat-drawer {
    background-color: inherit;
}

.filter-toggle {
    position: fixed;
    margin-top: 10px;
}