<div id="welcome"  style="top:280px">
        <h1>ANALYSIS</h1>
</div>

<div id="main" class="content">
    <p></p>
    <div id="region region-content" style="width:68%; float:left;">
        <div class="intro"><h2 >Dig deeper into the data by looking at it from different angles. </h2> </div>
    <p></p>
    <p></p>
    <p>Hi there and welcome to our analysis section. This is a new addition to our website and we are hoping to add new features over the coming months.</p><br/>
    <p></p>
        Why this new space? We realised that we are producing a lot of data but it is actually not easy to figure out quickly what it is in there. With the graphics in this section we are hoping to give you the opportunity to browse our  data without looking through it gene by gene or assay by assay.We hope you will enjoy this page. Please let us know if there is anything in particular that you would like to see appear in this space by using the contact button on the CONTACT page.
    <br/>
    <p></p>
        <p>Story 1: A map of the immune system</p><br/>
     <p>The first thing that struck us when we were starting to dig deeper into the data was the fact that we had data for hundreds of wild type control mice and that we could use this data to build a map of the mouse immune system. The map below was built using data from more than 400 C57BL/6N wild type mice.</p>
     <p></p>
    </div>

    <iframe width="420" height="345" [src]="video | safe" style='width: 850px; height: 700px;'></iframe>

<p></p>
</div>
