<div id="welcome"  style="top:280px">
    <h1>DATA</h1>
</div>

<div id="main" class="content">
        <!-- <mat-tab-group>
                <mat-tab label="First">
                  <ng-template matTabContent>
                    The First Content
                  </ng-template>
                </mat-tab>
                <mat-tab label="Second">
                  <ng-template matTabContent>
                    The Second Content
                  </ng-template>
                </mat-tab>
              </mat-tab-group> -->
        <threei-heatmap></threei-heatmap>
</div>