@media (min-width:1200px) {
    .main-content {
        width: 1200px;
        margin: auto;
    }
}

@media (max-width:1200px) {
    .main-content {
        width: 100%;
        margin: auto;
    }
}

.main-content {
    display: table;
}

.filter {
    text-align: center;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.publication-list {
    margin-top: 10px;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.example-container {
    width: 100%;
    height: 100%;
}

mat-drawer-container {
    background-color: inherit;
}

mat-drawer {
    background-color: inherit;
}

.filter-toggle {
    position: fixed;
    margin-top: 10px;
}

.alert {
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #ffab40ed;
}

.links {
    margin-top: 20px;
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.filling {
    flex: 1 1 auto;
}
.mat-raised-button {
  margin: 10px;
}

mat-toolbar {
  background-color: rgb(224, 224, 224);
  height: 70px !important;
  margin-top: 10px;
}
