<div class="main-content">
    <impc-head-bar></impc-head-bar>
    <impc-filter (updateChart)="updateChart($event)" (invalid)="clear()"></impc-filter>
    <impc-comparison *ngIf="chart" [chartData]="chart" [oldData]="oldData" [newData]="newData" [oldPValue]="oldPValue" [newPValue]="newPValue"></impc-comparison>
    <h1 *ngIf="!chart" class="alert">PLEASE FILL THE FIELDS TO VISUALIZE THE WINDOWING RESULT</h1>
    <div *ngIf="!!chart" class="links">
        <a target="_blank" [attr.href]="rawLink">Download raw data</a> | <a target="_blank" [attr.href]="portalLink">View on IMPC portal</a>
    </div>
    <impc-footer></impc-footer>
</div>
