<header id="header">
    <div class="region region-header">
        <div id="tn"></div>
        <div id="logo">
            <a href="/"><img src="/assets/images/impc.png" alt="IMPC Logo"/></a>
            <!-- <div id="logoslogan">3i</div>  -->
        </div>
        <nav id="mn">  <div class="region region-mainnavi">


<!-- <nav><a routerLink="/home" >HOME</a></nav> -->
<a routerLink="home" ><button mat-button routerLinkActive="mat-accent">HOME</button></a>
<a routerLink="data" ><button mat-button>DATA</button></a>
<a routerLink="analysis"><button mat-button>ANALYSIS</button></a>
<a routerLink="methods"><button mat-button>METHODS</button></a>
<a routerLink="contact"><button mat-button>CONTACT</button></a>

<a routerLink="learn_more" ><button mat-button [matMenuTriggerFor]="menu2">LEARN MORE</button></a>
<mat-menu #menu2="matMenu">
    <a routerLink="faq"><button mat-menu-item>FAQ</button></a>
    <a routerLink="glossary" ><button mat-menu-item>Glossary</button></a>
    <a routerLink="publications" ><button mat-menu-item>Publications</button></a>
    <a routerLink="privacy" ><button mat-menu-item>Privacy Policy</button></a>
</mat-menu>

</div>
</nav>
<div class="clear"></div>
</div>
</header>
