<impc-publication *ngFor="let publication of publications|async" [publication]="publication" [showActions]="isLoggedIn"></impc-publication>
<h1 class="mat-h1" *ngIf="length === 0" style="text-align: center; margin: 10px; ">NO PUBLICATIONS FOUND FOR THE SELECTED FILTERS</h1>
<mat-paginator *ngIf="length > 0" [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              [pageIndex]="pageIndex"
              [showFirstLastButtons]="true"
              (page)="pageEvent($event)">
</mat-paginator>
