

<head>
  <title> Home | 3i Consortium - Wellcome Trust Sanger Institute</title>
  <link rel="icon" type="image/png" href="../assets/images/index.ico">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="/assets/css/imageslider.css"  rel="stylesheet" type="text/css"  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="icon" type="image/png" href="../assets/images/index.ico"> 
</head>



              <threei-top-menu></threei-top-menu>

<div id="sidebar">
                  
      <div id="block-views-phenotype-of-the-month-block-1" class="block block-views">
            <div class="head"> Phenotype of  the  Month</div>
            
            <div class="views-field views-field-php">
                <span class="field-content">
                <p><a name="phenotype-of-the-month-view" href="/phenotypeofthemonth" class="simple-dialog simpleDialogProcessed" style="font-size: 1.5em;" rel="width:680;position:[center,160];" data-hasqtip="68" oldtitle="Phenotype of the Month" title="">Cxcr2</a></p></span>
            </div>
            <div id="block-heatmap-stats-KO">
                <div class="head">KO lines analysed</div>
                <div class="content">404</div>
              </div>
              <div id="block-heatmap-stats-phenotypes">
                <div class="head">Phenotypes identified</div>
                <div class="content">280</div>
              </div>
            
        </div>
                              
</div>
<div class="clear"></div>
               
<div id="main">
  <div id="center-content"><!--everything from the top menu down to the bottom menu which should be central in the layout-->
  
        <div class="search">
          <div style="width: 500px; margin: auto;">
            <form id="home-search-form" action="/data" method="get">
              <input id="home-search-box" name="gene" style="width: 300px;" type="text" placeholder="Search by gene or phenotype..."/>
              <input id="home-search-submit" class="btn" style="width: 200px;" type="submit" value="Advanced Search"/>
            </form>
          </div>
        </div>
          <div class="clear"></div>
       
        
    

    
              <slideshow [imageUrls]="imageUrlArray" [height]="height"
              [minHeight]="'280px'"

              [autoPlay]="true"
              [showArrows]="false"
              [imageUrls]="imageSources"
              [lazyLoad]="imageSources?.length > 1"
              [autoPlayWaitForLazyLoad]="true">></slideshow>

  <router-outlet></router-outlet>
  <!--End of Header-->
  <!--Main Starts-->

  <!--Main Ends-->

  <!-- <router-outlet></router-outlet> -->

  <!-- <th:block th:include="fragments/footer::footer1"> </th:block> -->
  <!-- todo need angular footer to replace the above here -->


  </div>
</div>

<threei-bottom-menu></threei-bottom-menu>
  














       
        







