

<head>
  <title> Home | 3i Consortium - Wellcome Trust Sanger Institute</title>
  <link rel="icon" type="image/png" href="../assets/images/index.ico">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="/assets/css/imageslider.css"  rel="stylesheet" type="text/css"  />
  <link href="/assets/css/threei.css" rel="stylesheet" type="text/css"  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="icon" type="image/png" href="../assets/images/index.ico">
</head>


<div id="wrapper">

              <threei-top-menu></threei-top-menu>
  <article>
    <br/>
    <div id="region region-content" style="width:70%; float:left;">
      <div id="block-block-3" class="block block-block">
        <div class="content"><div style="width: 100%; text-align: center; padding-bottom: 20px;">
          <div style="width: 500px; margin: auto;">
            <form id="home-search-form" action="/data" method="get">
              <input id="home-search-box" name="gene" style="width: 300px;" type="text" placeholder="Search by gene or phenotype..."/>
              <input id="home-search-submit" class="btn" style="width: 200px;" type="submit" value="Advanced Search"/>
            </form>
          </div>
        </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <aside id="sidebar"  >
      <div class="region region-sidebar-second">
        <div id="block-views-phenotype-of-the-month-block-1" class="block block-views">
          <div class="head"> Phenotype of  the  Month</div>
          <div class="content">
            <div class="view view-phenotype-of-the-month view-id-phenotype_of_the_month view-display-id-block_1 view-dom-id-aea57fa4b3e8167014066f06dcf76299">
              <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                  <div class="views-field views-field-php">
                    <span class="field-content">
                    <p><a name="phenotype-of-the-month-view" href="/phenotypeofthemonth" class="simple-dialog simpleDialogProcessed" style="font-size: 1.5em;" rel="width:680;position:[center,160];" data-hasqtip="68" oldtitle="Phenotype of the Month" title="">Cxcr2</a></p></span>
                  </div>
                </div>
              </div>
            </div>
                    </div>
        </div>
        <div id="block-block-23" class="block block-block">
          <div class="content">
            <div id="block-heatmap-stats">
              <div id="block-heatmap-stats-KO">
                <div class="head">KO lines analysed</div>
                <div class="content">404</div>
              </div>
              <div id="block-heatmap-stats-phenotypes">
                <div class="head">Phenotypes identified</div>
                <div class="content">280</div>
              </div>
            </div>
            </div>
        </div>
        <div id="block-views-news-page-block" class="block block-views">
          <div class="head">News &amp; Events</div>
          <div class="content">
            <div class="view view-news-page view-id-news_page view-display-id-block view-dom-id-c6d3688884db7f2f5f7c89eafd4581e2">
              <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">
                  <div class="views-field views-field-title">
          <span class="field-content">
            <a href="/consortium-meeting" target="_blank">3i Consortium meeting</a>
          </span>
                  </div>
                  <div class="views-field views-field-body">
                    <div class="field-content">
                      <p>The Crick<br/>25th September 2018<br/>10.30am to 4pm</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
        <div id="block-block-15" class="block block-block">
          <div class="content">
            <h4>Learn more about the images in the slideshow</h4>
            <br/>
            <p><a href="/image-acknowledgements" class="btn" style="color:white;"><i class="fa" style="font-size:9px;position:relative;bottom:2px;" >&#xf04b;</i>Image acknowledgements</a></p>
            <div class="clear"></div></div>
        </div>
        <div id="block-block-2" class="block block-block">
          <div class="content">
            <p>
              <a href="http://www.wellcome.ac.uk/" >
                <img src="/assets/images/slider/wt_logo.png"  width="300" height="39"/></a><br/>
              <a href="https://www.immunology.org/" >
                <img src="/assets/images/slider/bsi_logo-250x52.png" target="blank"  width="250" height="52"/></a><br/>
              <a href="http://www.mousephenotype.org/" >
                <img src="/assets/images/slider/impc_logo-150x50.png" width="150" height="50"/></a></p>


            <div class="clear"></div>
          </div>
        </div>
      </div>
    </aside>
              <slideshow [imageUrls]="imageUrlArray" [height]="height"
              [minHeight]="'280px'"

              [autoPlay]="true"
              [showArrows]="false"
              [imageUrls]="imageSources"
              [lazyLoad]="imageSources?.length > 1"
              [autoPlayWaitForLazyLoad]="true">></slideshow>



  </article>

  <router-outlet></router-outlet>
  <!--End of Header-->
  <!--Main Starts-->

  <!--Main Ends-->

  <!-- <router-outlet></router-outlet> -->

  <!-- <th:block th:include="fragments/footer::footer1"> </th:block> -->
  <!-- todo need angular footer to replace the above here -->


<!-- todo get js below to work in angular?? -->

<p></p>
<mat-toolbar >

            <div >
            <a style="text-decoration: none; color: white; padding:30px; " href="/">HOME  </a>
            <a style="text-decoration: none; color: white;  padding:30px;" href="/data">DATA  </a>
            <a style="text-decoration: none; color: white; padding:30px; " href="/analysis">ANALYSIS  </a>
            <a style="text-decoration: none; color: white; padding:30px; " href="/methods">METHODS  </a>
            <a style="text-decoration: none; color: white; padding:30px; " href="/contact}">CONTACT  </a>
            <a style="text-decoration: none; color: white; padding:30px; " href="/learnmore">LEARNMORE  </a>
              
       
        <p class="textright" style="text-align: right;word-spacing: normal; font-size:12px">Software <br/></p>

       </div>
        
    </mat-toolbar>

</div>










       
        







