
  <div style="width: 100%; float: left;">
  <mat-radio-group>
    <mat-radio-button  (click)="displayProcedureChart()">Procedure Based Chart</mat-radio-button>
    <mat-radio-button (click)="getCellHeatmapData()">Cell Based Chart</mat-radio-button>
  </mat-radio-group>
  </div>

  
  <div style="width:65%; height:200px; float: left;">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions.hcOptions"
      [(update)]="updateDemo2"

      style="width: 100%; display: block;"
    ></highcharts-chart>
  </div>

<br/>

