
  <div style="width: 100%; float: left;">
  <mat-radio-group name="chartTypeSelector" id="chartSelector">
    <mat-radio-button [checked] (click)="getHeatmapData('procedure')">Procedure Chart</mat-radio-button>
    <mat-radio-button value="cell" (click)="getHeatmapData('cell')">Cell Chart</mat-radio-button>
  </mat-radio-group>
  </div>

  <mat-spinner *ngIf="!resourceLoaded"></mat-spinner>
  
  <div style="width:100%; height:200px; float: left;">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="heatmapChart"
      [(update)]="updateDemo2"
   
      style="width: 100%; display: block;"
    ></highcharts-chart>
  </div>

<br/>

