<mat-button-toggle-group #group="matButtonToggleGroup" color="primary" (valueChange)="change($event)">
    <mat-button-toggle value="no" checked="true">
      <mat-icon>assignment_late</mat-icon>Pending<impc-count [number]="pending"></impc-count>
    </mat-button-toggle>
    <mat-button-toggle value="yes">
      <mat-icon>assignment_turned_in</mat-icon>Reviewed<impc-count [number]="reviewed"></impc-count>
    </mat-button-toggle>
    <mat-button-toggle value="all">
      <mat-icon>all_inclusive</mat-icon>All<impc-count [number]="all"></impc-count>
    </mat-button-toggle>
  </mat-button-toggle-group>
