<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="false" class="example-sidenav"
  [fixedInViewport]="true" [fixedTopGap]="150"
  [fixedBottomGap]="150">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>filter_list</mat-icon></div>
      <mat-card-title>Filter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list (selectionChange)="change($event)" [(ngModel)]="selection">
        <span *ngFor="let facet of facets">
          <h3 matSubheader>{{facet.section}}</h3>
          <mat-list-option *ngFor="let option of facet.options" [value]="{ 'section': facet.section, 'option': option }">{{ option }}</mat-list-option>
        </span>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
  
</mat-sidenav>

<mat-sidenav-content class="feedback-container">
  <p class="feedback"><button (click)="sidenav.toggle()" mat-raised-button color="accent">Filter</button></p>
</mat-sidenav-content>
</mat-sidenav-container>