.mat-list .mat-list-option, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-option {
    font-size: 13px;
}

.example-container {
    position: fixed;
    top: 60px;
    bottom: 60px;
    left: 0px;
    background-color: rgba(255, 0, 0, 0.0);
}

.example-sidenav {
    display: flex;
    justify-content: center;
    background: rgba(255, 0, 0, 0.5);
}


.feedback {
    top: 40%;
    left: 0px;
    vertical-align: middle;
    display: table-cell;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);
}

.feedback-container {
    display: table;
}

.example-full-width {
    width: 100%;
  }