.mat-list .mat-list-option, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-option {
    font-size: 13px;
}

.example-container {
    position: fixed;
    top: 60px;
    bottom: 60px;
    left: 0px;
    background-color: rgba(255, 0, 0, 0.0);
}

.example-sidenav {
    display: flex;
    justify-content: center;
    background: rgba(255, 0, 0, 0.0);
}


.feedback {
    top: 40%;
    left: 0px;
    vertical-align: middle;
    display: table-cell;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);
}

.feedback-container {
    display: table;
}

.example-full-width {
    width: 100%;
  }


.filter-button {
  top: -25px;
}

.filter {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.indented {
  display: inline-block !important;
}

.facet {
  display: table-cell;
  vertical-align: middle;
  border-style: none ridge;
  border-width: 1px;
}


.group-title {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
