.allele-chip-list {
    width: 70%;
}

.form {
    display: inline;
}

.mat-chip{
    margin-top: 2px !important;
}

.candidate {
    border-style: solid;
    border-color: #ffab40;
    border-width: 1px;
}