<div style="text-align: center;">
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-select placeholder="Center" #center formControlName="center"  (selectionChange)="selected('colonyID')">
        <mat-option *ngFor="let center of centerOptions" [value]="center" >
          {{ center }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Colony ID" [matAutocomplete]="auto" formControlName="colonyID">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected('zygosity')" [autoActiveFirstOption]="true">
        <mat-option *ngFor="let colonyID of dynamicOptions.colonyID | async" [value]="colonyID">
          {{ colonyID }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Zygosity" formControlName="zygosity" (selectionChange)="selected('procedure')">
        <mat-option *ngFor="let zygosityOption of dynamicOptions.zygosity | async" [value]="zygosityOption">
          {{ zygosityOption }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Procedure" [matAutocomplete]="autoProcedure" formControlName="procedure">
      <mat-autocomplete #autoProcedure="matAutocomplete"  (optionSelected)="selected('parameter')" [autoActiveFirstOption]="true">
        <mat-option *ngFor="let procedure of dynamicOptions.procedure | async" [value]="procedure.name + ' | ' + procedure.id">
          <small>{{procedure.name}}</small> |
          <small>{{procedure.id}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Parameter" [matAutocomplete]="autoParameter" formControlName="parameter">
      <mat-autocomplete #autoParameter="matAutocomplete" (optionSelected)="selected('metadata')" [autoActiveFirstOption]="true">
        <mat-option *ngFor="let parameter of dynamicOptions.parameter | async" [value]="parameter.name + ' | ' + parameter.id">
          <span>{{parameter.name}}</span> |
          <small>{{parameter.id}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Metadata group" [matAutocomplete]="autoMetadata" formControlName="metadata">
      <mat-autocomplete #autoMetadata="matAutocomplete" (optionSelected)="update()" [autoActiveFirstOption]="true">
        <mat-option *ngFor="let metadata of dynamicOptions.metadata | async" [value]="metadata">
          {{ metadata }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
