<div style="text-align: center; margin-top: 20px;">
<form [formGroup]="formGroup" dnd-sortable-container [sortableData]="filters">
  <ng-container *ngFor="let filter of filters; let i = index">
    <mat-form-field dnd-sortable [sortableIndex]="i" [dragEnabled]="editing" *ngIf="filter.type !== 'none'">
      <div *ngIf="filter.type === 'select'" [matBadge]="editing ? '&#x21b9;' : i + 1" matBadgePosition="before" matBadgeColor="primary">
        <mat-select [placeholder]="filter.title" #select [formControlName]="filter.name"  (selectionChange)="selected(i)">
          <mat-option *ngFor="let option of dynamicOptions[filter.name] | async" [value]="option" >
            {{ option }}
          </mat-option>
        </mat-select>
      </div>
      <div *ngIf="filter.type === 'autocomplete'" [matBadge]="editing ? '&#x21b9;' : i + 1" matBadgePosition="before" matBadgeColor="primary">
        <div *ngIf="filter.name !== 'procedure' && filter.name !== 'parameter' ">
          <input matInput [placeholder]="filter.title" [matAutocomplete]="auto" [formControlName]="filter.name" (click)="$event.target.select()">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected(i)" [autoActiveFirstOption]="true">
            <mat-option  *ngFor="let option of dynamicOptions[filter.name] | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div *ngIf="filter.name === 'procedure' || filter.name === 'parameter' ">
          <input matInput [placeholder]="filter.title" [matAutocomplete]="auto" [formControlName]="filter.name" (click)="$event.target.select()">
          <mat-autocomplete  #auto="matAutocomplete" (optionSelected)="selected(i)" [autoActiveFirstOption]="true">
            <mat-option *ngFor="let option of dynamicOptions[filter.name] | async" [value]="option.name + ' | ' + option.id">
              <small>{{option.name}}</small> |
              <small>{{option.id}}</small>
            </mat-option>
          </mat-autocomplete>
        </div>
        
      </div>
    </mat-form-field>
  </ng-container>
  
</form>
<div class="toggle-wrapper">
    <mat-slide-toggle
    class="toggle"
    color="accent"
    [(ngModel)]="editing"
    [disabled]="false"
    (change)="toggle()"
    >
    <span *ngIf="editing">
        Save filtering order
    </span>
    <span *ngIf="!editing">
        Edit filtering order
    </span>
    </mat-slide-toggle>
</div>

</div>
