mat-form-field {
    margin-right: 30px ;
    width: 28%;
}

mat-form-field.second {
    width: 25%;
}

.toggle {
    position: relative;
    float: right;
}
.toggle-wrapper {
    display: inline-block;
    width: 100%;
} 

.notice {
    color: rgba(0, 0, 0, 0.42);
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px #80808030;
    font-size: large;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.progress-wrapper {
    display: inline-block;
}