mat-form-field {
    margin-right: 30px ;
    width: 28%;
}

mat-form-field.short {
    margin-right: 30px ;
    width: 9%;
}

mat-form-field.long {
    margin-right: 30px ;
    width: 36%;
}

mat-form-field.second {
    width: 25%;
}

.toggle {
  position: relative;
  float: left;
  margin-left: -30px;
  margin-top: 20px;
}
.toggle-wrapper {
    display: inline-block;
    width: 87%;
}

.notice {
    color: rgba(0, 0, 0, 0.42);
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px #80808030;
    font-size: large;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.progress-wrapper {
    display: inline-block;
}

.clear {
  float: right;
}

.version {
  margin-right: 30px;
  width: 28%;
  float: left;
  margin-left: 20px;
}
