<div class="container">
    <h1>Images Query Form</h1>
    <form (ngSubmit)="query();" #loginForm="ngForm">
        <app-number-returned-filter></app-number-returned-filter>
        <mat-card class="result">
          <mat-card-content>
            <h2>Filter the images returned</h2>
        <app-procedure-select (procedureSelectedEvent)="procedureSelectedEvent($event)"></app-procedure-select>
        <app-parameter-select></app-parameter-select>
        <app-anatomy-select (anatomySelectedEvent)="anatomySelectedEvent($event)"></app-anatomy-select>
        </mat-card-content>
        <impc-save-image></impc-save-image>
        </mat-card>
        <mat-card>
          <mat-card-content>
            <button mat-fab>
              Query
            </button>
          </mat-card-content>
        </mat-card>
      <!-- <div class="form-group">
        <label for="keyword">Keyword</label>
        <input type="text" class="form-control" [(ngModel)]="model.keyword" name="keyword" #keywordSpy #keyword="ngModel">
        {{keywordSpy.className}}
        <div [hidden]="keyword.valid || keyword.pristine" class="alert alert-danger">Required</div>
      </div> -->
      <!-- <div class="form-group">
        <label for="rows">Number of Images</label>
        <input type="number" class="form-control" [(ngModel)]="model.rows" name="rows" #rowsSpy #rows="ngModel">
        {{rowsSpy.className}}
        <div [hidden]="rows.valid || rows.pristine" class="alert alert-danger">Required</div>
      </div>
      <div class="form-group">
        <label for="selectedProcedureName">Procedure Names</label>
        <select class="form-control"  id="selectedProcedureName"
            required
            [(ngModel)]="model.selectedProcedureName" name="selectedProcedureName">
            <option *ngFor="let procedureName of model.procedureNamesForDropdown" [value]="procedureName">{{proceureName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="selectedParameterName">Parameter Names</label>
        <select class="form-control"  id="selectedParameterName"
            required
            [(ngModel)]="model.selectedParameterName" name="selectedParameterName">
            <option *ngFor="let parameterName of model.parameterNamesForDropdown" [value]="parameterName">{{parameterName}}</option>
        </select>
      </div> -->
      <mat-card>
          <mat-card-content>
      <app-showthumbnails></app-showthumbnails>
      </mat-card-content>
      </mat-card>
    </form>
    <!-- <h2>{{model | json}}</h2> -->
  </div>