/* You can add global styles to this file, and also import other style files */
.highcharts-container {
    width: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px !important;
}

.mat-option-text {
    color: black !important;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
    left: -25px !important;
    top: 0px;
}

.mat-ink-bar {
    height: 3px !important;
}

.mat-tab-label-active {
    font-weight: 900 !important;
    color: black;
}