<div class="signin-content">
  <mat-card>
      <div mat-card-avatar class="header-image"></div>
    <div>
      <span class="impc-logo-letters">IMPC</span><br>Publications Curator
    </div>
    <mat-card-content>
      <p class="login-message">Log in usign your EBI credentials:</p>
      <form class="login-form">
        <mat-form-field class="full-width-input">
          <input matInput [formControl]="userNameFormControl" [(ngModel)]="user.username">
                    <!--input matInput [formControl]="userNameFormControl"
          [errorStateMatcher]="matcher" [(ngModel)]="user.username"-->
          <mat-error *ngIf="userNameFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
          <mat-placeholder><b> Username</b></mat-placeholder>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" [formControl]="passwordFormControl" [(ngModel)]="user.password">
          <mat-placeholder><b> Password</b></mat-placeholder>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </form>
      <button mat-raised-button (click)="login()" [disabled]="passwordFormControl.invalid || userNameFormControl.invalid">LOG IN</button>
    </mat-card-content>
  </mat-card>
</div>