<div id="welcome" >
  <h1>LEARN MORE</h1>
</div>

<div id="main" class="content" style="right:40px">

  <p></p>
  <div id="region region-content" style="width:68%; float:left;height:100% ">
    <div class="intro"><h2>Do not hesitate to contact us if you cannot find a answer to your question below. </h2> </div>
    <p></p>
    <p></p>
    <h3 style="font-size: 25px;">FREQUENTLY ASKED QUESTIONS</h3><p></p>
    <p>We have collated the questions most frequently asked and provided those in a managed archive.</p>
    <p><a href="{/faq}" class="btn" style="color: white;"><i class="fa" style="font-size:9px;position:relative;bottom:2px;" >&#xf04b;</i>Browse our FAQ list</a></p>

    <h3 style="font-size: 25px;">Glossary</h3><p></p>
    <p>If you are unsure of the terminology used in this website please use the following helpful glossary.</p>
    <p><a href="{/glossary}" class="btn" style="color: white;"><i class="fa" style="font-size:9px;position:relative;bottom:2px;" >&#xf04b;</i>Browse our Glossary</a></p>

    <h3 style="font-size: 25px;">Publications</h3><p></p>
    <p>We have collated a useful library of publications.</p>
    <p><a href="{/publications}" class="btn" style="color: white;"><i class="fa" style="font-size:9px;position:relative;bottom:2px;" >&#xf04b;</i>Browse our publications</a></p>
    <p></p>

  </div>
</div>
