<div id="welcome" >
    <h1>PRIVACY</h1>
</div>

<div id="main" class="content">
  <div id="region region-content" >
    <div class="intro"><h2 >Information about the 3I privacy policy </h2> </div>
    <p></p>
    <p></p>
    <div class="panel_glossary" style="width:65%; ">
      <i class="fa fa-list-alt"></i>
      Privacy Policy
    </div>
    <br/><br/><br/><br/>
    <div id="accordian1_main" style=" border: 1px solid #eee; width: 100%; padding:1em">
      <p> The General Data Protection Regulation (GDPR) will apply in the UK
        from 25 May 2018. It will replace the 1998 Data Protection Act and
        introduce new rules on privacy notices, as well as processing and
        safeguarding personal data.

        More details about our privacy policy can be found by following the links below.</p>
      <br/>
      <span><a href="https://www.ebi.ac.uk/data-protection/privacy-notice/three-i-website">Three I project website</a></span>
      applies to usage of the Three I <a href="http://www.immunophenotype.org/"> www.immunophenotyping.org </a> website.



    </div>

  </div>
  <p></p>
  <p></p>
  <p></p>
</div>
<link href="/assets/css/privacy.css" rel="stylesheet" type="text/css"  />