<div>
    <highcharts-chart style="height: 1700px;  max-width: 1000px; margin: 0 auto"
      [Highcharts]="Highcharts"
      [options]="cellChartOptions"
      [(update)]="updateDemo2"
   
      
    ></highcharts-chart>
  </div>

<!-- <mat-tab label="Procedure View">
    <ng-template matTabContent>
        <div style="height: 400px;  max-width: 1000px; margin: 0 auto">
            <highcharts-chart
              [Highcharts]="Highcharts"
              [options]="heatmapChart"
              [(update)]="updateDemo2"
           
              
            ></highcharts-chart>
          </div>
    </ng-template>
  </mat-tab> -->
